  
.Header{
    font-family: 'Righteous';
    background-color: #c4d3ff ;
    color: whitesmoke;
   
}
.Body{
    font-family: 'Overpass';
    padding: 1.5em;
    background-color: #c4d3ff;
    color: whitesmoke;
}
.Footer{
    font-family: 'Righteous';
    background-color: #1c2234 ;
    color: whitesmoke;
}
a{
<<<<<<< HEAD
    color: #1c2234; 
=======
    color: #c4d3ff; 
>>>>>>> 165a2071d2a593bc74674f1a2f661734c348f24b
    font-weight: bold;
    
}
.Footer a:link{
    text-decoration: none;
}
.Footer a:hover{
    color: #e2e9ff;
    text-shadow: 2px 2px #000000;
}
.Projects{
    font-family: 'Righteous';
    background-color: #c4d3ff ;
    color: whitesmoke;
    font-size: 3em;

}
<<<<<<< HEAD


=======
>>>>>>> 165a2071d2a593bc74674f1a2f661734c348f24b

